*{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
nav{
  background: linear-gradient(135deg,#021a3f,#003366);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%; 
  top: 0;
  z-index: 1000;
}
.navleft{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navleft img {
  height: 60px;
  width: auto;
}
.title-group{
  display: flex;
  flex-direction: column;
}
.title-group p{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.subtitle{
  font-size: 16px;
  margin-top: 3px;
  font-weight: 500;
}
.nav-controls{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2px;
}
.navright{
  display: flex;
  align-items: center;
  gap: 15px;
}
.navright a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.navright a:hover {
  color: #fdc819;
  font-size: 15px;
}
.menu-toggle {
  display: none;
  background-color: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
}
main{
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.slide {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
}
.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.image-wrapper img {
  width: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(50%) contrast(80%) saturate(100%);
}
.motto-overlay {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  font-size: 33px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  letter-spacing: 1px;
  text-shadow: 0px 3px 4px rgba(0,0,0,0.7);
  border: #fdc50e 3px solid;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.7);
}
.slide .text {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 3;
  color: white;
  padding: 15px 20px;
  max-width: 1000px;
  text-align: left;
  letter-spacing: 0.5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.slide .text h1 {
  font-size: 72px;
  margin: 0;
  color: #fdbd32;
  text-shadow: 0px 5px 6px rgba(0,0,0,0.7);
}
.slide .text p {
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}
.fade {
  animation: fadeEffect 1s ease-in-out;
}
@keyframes fadeEffect {
  from {opacity: 0.4;}
  to {opacity: 1;}
}
.inspiration-card {
  flex: 1 1 300px;
  position: relative;
  border-radius: 12px;
  padding: 2px;
  align-content: center;
  justify-content: center;
}
.inspiration-row {
   background: linear-gradient(to top,rgba(0,0,0,0.2),transparent);
  background-color: #5c0000;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: #ffba0c 4px solid;
  
}
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid rgba(255,255,255,0.2);
}
.image-container img, .montfortimg {
  width: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(70%) contrast(90%);
}
.inspiration-card:nth-child(2){
  flex: 0 0 200px;
  
}
.inspiration-card:nth-child(2) .image-container{ 
  border: none;
  margin: 0;
  padding: 0;
}
.montfortimg {
  scale: 1.15;
  filter: brightness(160%) contrast(75%);
  padding: 2px;
  margin: 0;
}
.overlay-title {
  position: absolute;
  color: #ffba0c;
  margin: 0;
  top: 10px;
  left: 15px;
  font-size: 40px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}
.overlay-middle {
  position: absolute;
  top: 35%;
  right: 10px;
  color: white;
  font-size: 30px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
  color: white;
  text-shadow: 0 1 3px rgba(0, 0, 0, 0.8);  
  box-sizing: border-box;
  justify-content: space-between;
  text-align: center;
}
.overlay-text h3 {
  color: #ffba0c;
  font-size: 24px;
  margin: 0;
}
.overlay-text p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.guiding-message {
  font-size: 15px;
  font-weight: bold;
  color: #ffba0c;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 5px;
}
.leftside{
  text-align: right;
  
}
.montfort-text{
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.2);
  background: linear-gradient(to top,rgba(0, 0, 0, 0.822),transparent);
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 3px 6px rgba(253, 183, 32, 0.699) ;
}
.montfort-text h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #ffba0c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}
.montfort-text p{
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  font-weight: 500;
  color: white;
}
.animate-text{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out 0.8s, transform 0.8s ease-out 0.8s;
}
.animate-text.visible{
  opacity: 1;
  transform: translateY(0);
}
/* Responsive */
@media (max-width:699px) {
  *,*::before, *::after {
    box-sizing: inherit;
  }
  main {
    width: 100%;
    padding: 0;
  }
  .navleft img {
    height: 40px;
  }
  .title-group p {
    font-size: 18px;
  }
  .subtitle {
    font-size: 10px;
  }
  .navright {
    display: none;
    position: relative;
  }
  .navright.active{
    display: flex;
    flex-direction: column;
    background-color: #02033f98;
    position: absolute;
    top: 20px;
    right: 3px;
    padding: 10px;
    min-width: 120px;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
  .menu-toggle {
    display: block;
    color: rgb(255, 0, 0);
    border-radius: 5px;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-wrapper img {
    height: 50vh;
  }
  .motto-overlay {
    font-size: 12px;
    top: 70px;
    border: 2px solid #fdc50e;
  }
  .slide .text {
    bottom: 10px;
  }
  .slide .text h1 {
    font-size: 28px;
  }
  .slide .text p{
    font-size: 12px;
    margin-left: 1px;
    font-weight: 100;
  }
  .inspiration-card{
    flex: 1 1 100%;
    margin-top:15px ;
  }
  .inspiration-row{
    flex-direction: column;
  }
  .inspiration-card:nth-child(2){
    flex: 1 1 100%;
    justify-content: center;
    align-content: center;
  }
  .inspiration-card:nth-child(2) .image-container{
    width: 100%;
    padding: 0;
    top: 0;
    margin-top: -80px;
  }
  .montfortimg {
    width: 100%;
    scale: 0.7;
    padding: 0;
    top:0;
  }
  .montfort-text{
    top: 0;
    margin: 0;
    margin-top: -80px;
  }
  .overlay-title{
    font-size: 30px;
    top: 2px;
    left: 3px;
  }
  .overlay-middle {
    top:25%;
    font-size: 24px;
  }
  .overlay-text {
    bottom: 0;
    padding: 10px;
  }
  .overlay-text h3{
    font-size: 18px;
    margin-bottom: 0;
  }
  .overlay-text p, .guiding-message{
    margin-top: 2px;
    font-size: 10px;
  }
}
@media (min-width: 700px) and (max-width: 950px) {
  .title-group p{
    font-size: 26px;
  }
  .navright{
    position: static;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .navright a {
    font-size: 13px;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-wrapper img {
    height: 70vh;
  }
  .motto-overlay {
    font-size: 24px;
    top: 90px;
    border: 2px solid #fdc50e;
  }
  .slide .text {
    bottom: 10px;
    max-width: 600px;
  }
  .slide .text h1 {
    font-size: 48px;
  }
  .slide .text p{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 100;
  }
}
